spring:
  profiles:
    active:
  jackson:
    time-zone: GMT+8
  data:
    mongodb:
      host: ${MONGO_HOST}
      port: 27017
      database: stock-trading
      username: root
      password: ${MONGO_PASS}
      authentication-database: admin
      auto-index-creation: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ${MYSQL_PASS}
    url: jdbc:mysql://${MYSQL_HOST}:3306/found_trading?characterEncoding=utf-8&useSSL=false
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  redis:
    timeout: 10000
    url: redis://:${REDIS_PASS}@${REDIS_HOST}:6379